
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.verification-code::after {
    position: absolute;
    content: '';
    right: -37px;
    width: 35px;
    height: 50px;
    background: transparent;
    z-index: 2;
}

.login-area{
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #1E157D;
    padding: 40px;
}

.verification-code {
    display: flex;
    position: relative;
    z-index: 1;
    height: 50px;
    width: 100%;
}

.verification-code::after {
    position: absolute;
    content: '';
    right: -37px;
    width: 35px;
    height: 50px;
    background-color: #1E157D;
    z-index: 2;
}

.verification-code input {
    position: absolute;
    height: 50px;
    width: calc(100% + 80px);
    left: 0;
    background: transparent;
    border: none;
    font-size: 25px !important;
    font-weight: 800;
    letter-spacing: 39px;
    text-indent: 1px;
    border: none;
    z-index: 1;
    padding-left: 16px;
    font-family: 'Courier Prime', monospace;
    color: hsl(var(--black)) !important;
    border-color: transparent !important;
}

.verification-code input:focus {
    outline: none;
    cursor: pointer;
    box-shadow: none;
    border-color: transparent !important;
}

.boxes {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: -1;
}

.verification-code span {
    height: 50px;
    width: calc((100% / 6) - 3px);
    background: transparent;
    border: 1px solid hsl(var(--primary));
    text-align: center;
    line-height: 50px;
    color: black;
    border-radius: 8px;
}

.login-area::after {
    z-index: -1;
}


.verification-text {
    font-size: 1.2rem;
}

@media (max-width: 525px) {
    .login-area {
        width: 350px;
    }

    .verification-code input {
        letter-spacing: 29px;
        padding-left: 13px;
    }
}


@media (max-width: 424px) {
    .login-area {
        width: 300px;
    }

    .verification-code input {
        height: 40px;
        padding-left: 11px;
        letter-spacing: 27px;
        font-size: 16px !important;
    }

    .verification-code {
        height: 40px;
    }

    .verification-code::after {
        height: 40px;
    }

    .verification-code span {
        height: 40px;
        line-height: 40px;
    }
}

.common_btn.disabled,
.common_btn:disabled {
    color: #fff;
    background-color: #03A1A0;
    border-color: #03A1A0;
    opacity: 0.7;
}

.verify--box .forget-text {
    color: #03A1A0;
}

.verify--box a {
    color: #3d2bfb
}

.boxes-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.code-input {
    border-radius: 5px;
    width: 100%;
    height: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    appearance: textfield;
    -moz-appearance: textfield;
    border: 1px solid rgba(0,0,0,0.06);
    color: rgba(0,0,0,0.8);
    background-color: rgba(0,0,0,0.06);
    padding: 10px 4px !important;
}

.code-input::placeholder {
    color: rgba(0,0,0,0.5);
}

.code-input::-webkit-outer-spin-button,
.code-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.code-input:focus {
    outline: none;
}

@media screen and (max-width: 575px) {
    .boxes-two {
        gap: 5px;
    }

    .code-input {
        height: 2.5rem;
        font-size: 16px;

    }
}
